@using Entities
@model MesajYanit
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mesaj Detay</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("SendMailBox","Contact")">Gönderilen Mesajlar</a></li>
                        <li class="breadcrumb-item active">Mesaj Detay</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("MessageListMenu", "Contact")
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title"><b>Mesaj İçeriği</b></h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="mailbox-read-info">
                                <h5>
                                    <b>E-posta Adresi :</b> @Html.DisplayFor(x => x.Eposta)
                                    @*<span class="mailbox-read-time float-right">@(((DateTime)Model.MesajTarihi).ToString("dd-MMM-yyyy"))</span>*@
                                </h5>
                                <br />
                                <h6>
                                    <b>Mesaj Konusu :</b> @Html.DisplayFor(x => x.Konu)
                                </h6>
                            </div>
                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message">
                                <center><b>MESAJ İÇERİĞİ :</b> </center><p>@Html.DisplayFor(x => x.Mesaj)</p>
                            </div>
                            <!-- /.mailbox-read-message -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
</body>
</html>


